:root {
    --box-shadow: 1px 1px 100px 1px hsla(0, 0%, 0%, 0.2);
    --box-inner-shadow: 1px 1px 20px hsla(0, 0%, 0%, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
}

#body-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    gap: 2rem;
    padding: 5rem;
    margin: 5rem;
    border-radius: 5px;
    /*width: 80%;*/
    max-width: 1200px;
    width: 100%;
}

#editor-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.range-wrapper > input {

}

/*#editor-wrapper > * {*/
/*    border: 1px solid black;*/
/*}*/

#editor {
    /*box-shadow: var(--box-inner-shadow);*/
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid black;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: fit-content;
    /*width: 30rem*/
}

#preview {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid black;
    padding: 2rem;
    /*height: fit-content;*/
    /*aspect-ratio: 4 / 3;*/
}

#image-preview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    object-fit: contain;
    overflow: hidden;
    position: relative;
}

#image-preview > img {
    max-width: 100%;
    max-height: 100%;
    transform-origin: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.range-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-content: center;
}

.transformation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.transformation-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.transform-wrapper {
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.transformation-grid > .transform-wrapper > * {
    width: 30px;
    font-size: 30px;
}

.btn {
    padding: 2rem 5rem;
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

.button-group {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.button-group > input {
    display: none;
}

.btn:hover {
    background-color: hsl(180, 100%, 60%);
}